<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dorbrauner.firebasenotifications">


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name="com.dorbrauner.example_app.ExampleApplication"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">


        <activity android:name="com.dorbrauner.example_app.ExampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.dorbrauner.example_app.ExampleForegroundService"/>


        <service android:name="com.dorbrauner.framework.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
                android:name="com.dorbrauner.framework.SilentNotificationHandleService"
                android:exported="false"
                android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.dorbrauner.framework.NotificationDismissService" />


    </application>
</manifest>
